</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="wrapper">

    <div class="container">
    
    
    <h1>Page-5</h1>

<p>➤           Basic computer skills   <p>
    <p>➤            Typing practice  <p>
    <p>➤             Internet use<p>
    <p>➤             Software learning   <p>
  <p>➤                 Technology basics<p>
  
         <a href="javascript:history.back()" class="top-back-btn">
    Back
         </a>
