</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="wrapper">

    <div class="container">
    
    <h1>Page-3</h1>
<p>➤         Addition       <p>
    <p>➤         Subtraction       <p>
    <p>➤          Multiplication      <p>
    <p>➤            Division    <p>
<p>➤        Algebra  <p>
<p>➤       Geometry <p>
    
          
