<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="wrapper">

    <div class="container">

<h2>📝 Introduction</h2>
<p>Welcome to our educational software. Here students can learn many useful subjects and improve their knowledge step by step.
In this software you can learn:</p>

<a href="/bangla"><button>📘 Bangla Language</button></a>

<a href="/english"><button>📗 English Language</button></a>

<a href="/math"><button>📙 Mathematics</button></a>

<a href="/science"><button>🔬 Science</button></a>

<a href="/computer"><button>💻 Computer & ICT</button></a>

<a href="/quiz"><button>📝 Quiz & Practice Tests</button></a>

<a href="/assignment"><button>📚 Assignments & Notes</button></a>

<a href="/video"><button>🎥 Video Lessons</button></a>

<a href="/progress"><button>🏆 Progress Tracking</button></a>

<a href="/gk"><button>🌍 General Knowledge</button></a>

<a href="/creative"><button>🎨 Creative Learning</button></a>

<a href="/dashboard">Back</a>
<a href="javascript:history.back()" class="top-back-btn">
    Back
</a>

</body>
  </html>
