</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="wrapper">

    <div class="container">
    
    
    
    
    <h1>SCIENCE</h1>
    <p>Choose your favorite subject.</p>
    
    <a href="/page30"><button>📘 Bangla 1st Paper</button></a>

<a href="/page31"><button>📘 Bangla 2nd Paper</button></a>

<a href="/page32"><button>📗 English 1st Paper</button></a>

<a href="/page33"><button>📗 English 2nd Paper</button></a>

<a href="/page34"><button>🧮 Mathematics</button></a>

<a href="/page35"><button>⚛️ Physics</button></a>

<a href="/page36"><button>🧪 Chemistry</button></a>

<a href="/page37"><button>🧬 Biology</button></a>

<a href="/page38"><button>📐 Higher Mathematics</button></a>

<a href="/page39"><button>💻 ICT</button></a>

<a href="/page40"><button>🕌 Religion Studies</button></a>

<a href="/page41"><button>🌍 Bangladesh & Global Studies</button></a>

<a href="javascript:history.back()" class="top-back-btn">
    Back
</a>
