</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="wrapper">

    <div class="container">
    
  
<h2>ভূগোল ও পরিবেশ</h2>

<img src="{{ url_for('static', filename='p.jpg') }}" class="logo">
<br><br>

<a href="/dashboard">



       <a href="https://drive.google.com/file/d/1IBxZA_tZ8Ayhcm0s7IAOXaju0iFt2Xsc/view?usp=drivesdk" target="_blank">
    <button>Download PDF</button>
</a>

<a href="javascript:history.back()" class="top-back-btn">
    Back
</a>

  
