</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="wrapper">

    <div class="container">
    
    
    
    
    <h1>ARTS</h1>
    <p>Choose your favorite subject.</p>
    <a href="/page30"><button>📘 Bangla 1st Paper</button></a>

<a href="/page31"><button>📘 Bangla 2nd Paper</button></a>

<a href="/page32"><button>📗 English 1st Paper</button></a>

<a href="/page33"><button>📗 English 2nd Paper</button></a>

<a href="/page34"><button>🧮 Mathematics</button></a>

<a href="/page42"><button>🏛️ History</button></a>

<a href="/page43"><button>⚖️ Civics</button></a>

<a href="/page44"><button>🗺️ Geography</button></a>

<a href="/page45"><button>📈 Economics</button></a>

<a href="/page39"><button>💻 ICT</button></a>

<a href="/page40"><button>🕌 Religion Studies</button></a>

<a href="/page100"><button>🧪Science</button></a>

<a href="javascript:history.back()" class="top-back-btn">
    Back
</a>
