<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="wrapper">

    <div class="container">
<h1>ENJOY</h1>
<p></p>
choose your Group

   <a href="/page20"><button>🔬 Science</button></a>
      <a href="/page21"><button>🎨 Arts</button></a>
         <a href="/page22"><button>💼 Commerce</button></a>

<a href="javascript:history.back()" class="top-back-btn">
    Back
</a>
